.main-container{
    margin-left: 25%;
    margin-right: 25%;
}

body{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../../assets/bg-image/noaa-ZVhm6rEKEX8-unsplash.jpg");
}